<div id="products">
  <h2>Products</h2>
  <hr>
  <ul [@listStagger]="products$" id="products" style="padding-top: 0px;">
    <li *ngFor= "let product of products$">
        <div id="product-left" style="float: left;">
          <img style="float: left;" src="{{product.imageUrl['imageUrl']}}" width="100" />
          <p id="item-name"><a href="/product-details">{{product.productName['productName']}}</a></p><br style="clear: both;"/>
        </div>

        <div id="product-right" style="float: right;">
          <div id="button-left" style="float: left;"><p style="margin: 0;">Price: ${{product.price['price']}}<br/>items in stock: {{product.stock['stock']}}</p></div>
          <div id="button-right" style="float: right;"><button class="button">add to cart</button></div>
          <br style="clear: both;"/>
        </div><br style="clear: both;"/>
    </li>

  </ul>
</div>

