
<nav>
  <ul>
    <li>
      <div id="product-left" style="float: left;">
        <a href="">pet shop 7</a>
      </div>

      <div id="product-right" style="float: right;">
        <div id="username" style="float: left;"><p (click)="showModal()" style="margin: 0;">{{getUser()}}</p></div>
        <div *ngIf="getUserSes()"  (click)="clickCart()" id="cartbutton" style="float: right;"><i class="material-icons">shopping_cart</i></div>
          <br style="clear: both;"/>
      </div><br style="clear: both;"/>
    </li>
  </ul>
</nav>

 <!-- MODAL -->
 <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span (click)="hideModal()" class="close">&times;</span>
      <br>
      <h2>User Information</h2>
      <div style="float: left; text-align: left;">
        userID: {{id}}<br>
        username: {{username}}<br>
        credits: ${{cred}}<br>
      </div>
      <br style="clear: both;">
      <br>
      <button (click)="logout()" id="logout">logout</button>
      <br>
    </div>

  </div>
