div{
  position: fixed;
  top: 200px;
  left: 30%;
  right:30%;
  text-align: center;
}
img{
  width:200px;
}
#itemsPurchased{
  margin-top: 150px;
  background-color: white;
  border-radius: 5px;
}
li{
  list-style-type: none;
}
