<div *ngIf= "product$">
  <h1>{{product$.productName['productName']}}</h1>
  <hr>
  <br>
  <img style="float: left;" src="{{product$.imageUrl['imageUrl']}}" width="40%" />
  <div id="details" style="float: left;">
    <h2>Item Details</h2>
    <p>{{product$.description['description']}}</p>
  </div>
  <div id="buying" style="float: right;">
    <h3>Price: ${{product$.price['price']}} </h3>
    <input id="scroller" type="number" name="points" min="1" step="1">
    <br>
    <button class="button">add to cart</button>
  </div><br style="clear: both;"/>
</div>

