<h1>{{product$.productName['productName']}}</h1>
<hr>
<br>
<img style="float: left;" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350" width="40%" />
<div id="details" style="float: left;">
  <h2>Item Details</h2>
  <p>{{product$.description['description']}}</p>
</div>
<div id="buying" style="float: right;">
  <h3>Price: ${{product$.price['price']}} </h3>
  <input id="scroller" type="number" name="points" min="1" step="1">
  <br>
  <button class="button">add to cart</button>
</div><br style="clear: both;"/>

