<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>User Login</h2>
        <hr>
        <div id="inside">
          <b>Username: </b><input class="form-control" id="username" type="text" name="username"/>
          <b>Password: </b><input class="form-control" type="password" name="password"/> <br>
        </div>
        <input class="btn btn-primary" type="submit" name="submitForm" value="Login!"/>
      </div>
</body>
