<script>
    angular.module('windowExample', [])
      .controller('ExampleController', ['$scope', '$window',
      function($scope, $window) {
        $scope.greeting = '{{user}}';
        $scope.doGreeting = function(greeting) {
          $window.alert(greeting);
        };
      }]);
  </script>
<div id="sign-in" ng-controller="ExampleController">
  <h1>Welcome!</h1>
  <p>Please enter username and password.</p>
  <p id='user'>username:</p>
  <input type="text" ng-model="greeting" aria-label="greeting" name="firstname" value="{{user}}">
  <br>
  <p id='pass'>password:</p>
  <input type="text" name="lastname" value="{{pass}}">
  <br><br>
  <button class="button" (click)="onClickMe()">login</button>
</div>
