<div id="products">
  <h2>Cart Items</h2>
  <hr>
  <ul [@listStagger]="cartItems" id="products" style="padding-top: 0px;">
    <li *ngFor= "let cartItem of cartItems">
        <div id="product-left" style="float: left;">
          <img style="float: left;" src="{{cartItem.img}}" width="100" />
          <p id="item-name">
            <a href="/product-details">{{cartItem.productName}}</a>
          </p>
          <br style="clear: both;"/>
        </div>

          <div id="product-right" style="float: right;">
            <div id="button-left" style="float: left;">
              <h3 id="item-info" style="margin: 0; margin-top: 9px;">
                Total Item Price: <strong>${{product(cartItem.amount, cartItem.price)}}</strong>
                <br/>
                amount of this item:
                <form [formGroup]="formI" >
                  <input formControlName="amount" (change)="somethingChanged(cartItem.id, formI.value.amount)" id="scroller" type="number" name="points" min="1" max="cartItem.stock" step="1" value="{{cartItem.amount}}">
                </form>
              </h3>

            </div>
            <div id="button-right" style="float: right;">
              <form [formGroup]="formB" >
                <button class="button">remove all from cart</button>
              </form>
            </div>
            <br style="clear: both;"/>
          </div>
          <br style="clear: both;"/>
    </li>
  </ul>

  <div id="total_price" style="float: right; margin-right: 22px;"><h2>Total Price: ${{totalPrice()}}</h2>
  <button (click)="showModal()" class="button2">complete order</button></div>

  <div id="myModal" class="modal">
      <!-- Modal content -->

      <div class="modal-content">
        <span (click)="hideModal()" class="close">&times;</span>
        name on card:<br>
        <input type="text" name="cardname" placeholder="jimmy dean"><br>
        card number:<br>
        <input type="text" name="cardnum" placeholder="4683 7899 3232 1225"><br>
        cvv:<br>
        <input type="text" name="cvv" pattern="[0-9]{3}" title="CVV" placeholder="357"><br>
        expiration (month / year):<br>
        <input type="month" name="expdate"><br><br>
        <button>confirm</button><button>cancel</button>
      </div>

    </div>

</div>
