#products{
  padding-top: 60px;
}
h2{
  padding-left: 40px;
}
hr{
  width: 97%;
}
ul{
  margin: 0;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
#scroller{
  width:30px;
  margin-bottom: 20px;
}
li{
  border: 1px rgb(49, 49, 49) solid;
  border-top: none;
  border-left: none;
  border-right: none;
  //border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  //margin-bottom: 10px;
  background-color: #ebf8ff;
  list-style-type: none;
  img{
    width: 150px;
    margin: 10px 20px 10px 20px;
  }

}
#item-name{
  margin-top: 45px;
  font-size: 25px;
  text-decoration: underline;
}
#item-info{
  font-weight:normal;
  text-emphasis: none;
  text-decoration: none;
}
#product-left{
  width: 50%;
}
#product-right{
  width: 365px;
  margin-right: 20px;
}

button {
  background-color: #ff5e5e;
  border:1px solid #126392;
  color: rgb(255, 255, 255);
  margin-top:1px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-size: 16px;
  transition: 0.5s;
  display: inline-block;
  font-size: 20px;
  border-radius: 1px;
  cursor: pointer;
  width: 120px;
}
button:hover {
  background-color: #1fadff;
}
.button2 {
  background-color: #00395a;
  border:3px solid #1fadff;
  color: rgb(255, 255, 255);
  float: right;
}
.button2:hover {
  background-color: #1fadff;
}

 #confirm {
  background-color: #1fadff;
  border:3px solid #00395a;
  color: rgb(255, 255, 255);

}
#confirm:hover {
  background-color: #1fadff;
}

#cancel {
  background-color: #ff5e5e;
  border:3px solid #1fadff;
  color: rgb(255, 255, 255);

}
#cancel:hover {
  background-color: #1fadff;
}

#product-right {
  margin-top: 25px;
  text-align: right;
}
#button-left {
  margin-right: 15px;
  margin-top: 25px;
}
a{
  color: black;
  // text-decoration: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  margin-top: 250px;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



