<div id="products">
  <h2>Cart Items</h2>
  <hr>
  <ul [@listStagger]="cartItems" id="products" style="padding-top: 0px;">
    <li *ngFor= "let cartItem of cartItems">
        <div id="product-left" style="float: left;">
          <img style="float: left;" src="{{cartItem.img}}" width="100" />
          <p id="item-name">
            <a href="/product-details">{{cartItem.productName}}</a>
          </p>
          <br style="clear: both;"/>
        </div>

          <div id="product-right" style="float: right;">
            <div id="button-left" style="float: left;">
              <h3 id="item-info" style="margin: 0; margin-top: 9px;">Total Item Price: ${{product(cartItem.amount, cartItem.price)}}
                <br/>
                amount of this item:
                <form [formGroup]="formI" >
                  <input formControlName="amount" (change)="somethingChanged(cartItem.id, formI.value.amount)" id="scroller" type="number" name="points" min="1" step="1" value="{{cartItem.amount}}">
                </form></h3>

            </div>
            <div id="button-right" style="float: right;">
              <form [formGroup]="formB" >
                <button class="button">remove all from cart</button>
              </form>
            </div>
            <br style="clear: both;"/>
          </div>
          <br style="clear: both;"/>
    </li>
  </ul>

  <div id="total_price" style="float: right; margin-right: 22px;"><h2>Total Price: ${{totalPrice()}}</h2></div>
</div>
