<!-- <h2 id="home-title">Our Shop</h2>
<hr> -->

<div class="bg-image img1">
<img src="photo-1531685250784-7569952593d2.jpg">
</div>
<div class="bg-image img2">
  <img src="Blank_Template.jpg">
</div>
<div class="bg-image img3">
  <img src="photo-1531685250784-7569952593d2.jpg">
</div>
<div class="bg-image img4">
  <img src="Blank_Template.jpg">
</div>
<div class="bg-image img5">
  <img src="photo-1531685250784-7569952593d2.jpg">
</div>
<div class="bg-image img6">
  <img src="Blank_Template.jpg">
</div>

<div class="bg-text">
  <h1>Welcome to Our Shop!</h1>
  <h3>Sign in to start shopping!</h3>
  <small>(scroll to view a sample of some items)</small>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form action="/sign-in">
    <input class="button" type="submit" value="sign in" />
</form>
</div>
